html {
	width: 100%;
	height: 100%;
}

body {
	background: #f0f0f0;
	margin: 0;
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.42;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	position: relative;
}

.footer {
	height: 115px;
	margin-top: -115px;
	position: relative;
}

 .empty {
 	height: 115px;
 }

 ul {
 	padding: 0;
 	margin: 0
 }

 	li {
 		list-style: none;
 	}

 p {
 	padding: 0;
 	margin: 0;
 }

 a {
 	text-decoration: none;
 }

 * {
 	box-sizing: border-box;
 }
 .container {
 	width: 1170;
 	margin: 0 auto;
 }
 .header {
 	background: #fb3e38; /* Old browsers */
background: -moz-linear-gradient(top, #fb3e38 0%, #fb3e38 0%, #e69442 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #fb3e38 0%,#fb3e38 0%,#e69442 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #fb3e38 0%,#fb3e38 0%,#e69442 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb3e38', endColorstr='#e69442',GradientType=0 ); /* IE6-9 */
 }


 .header_logo, .header_search, .header_menu {
 	float: left;

  	} 
  	.header_top::after, .header_top::before {
 			display: table;
 			content: "";
 }
 		.header_top::after {
 			clear: both;
 	}
 
 .header_logo {
 	width: 25%;
 }
 .header_search {
 	
 	width: 40%;
 }
 .header_menu {
 	
 	width: 35%;
 }
.logo_pic {
	display: block;
	max-width: 175px;
	max-height: 55px;
}
.logo {
	display: inline-block;
 }
.search {
	position: relative;
	
}
.search_input {
	padding: 10px 40px 10px 35px;
	background-color: rgba(255, 255, 255, 0.2);
	border: 0 none;
	border-radius: 50px;
	color: white;  
	outline: none;
	width: 100%;

}
.search_submit {
	background: url(icons8-поиск-24.png) 0 0 no-repeat;
	width: 18px;
	height: 18px;
	display: block;
	border: none;
	position: absolute;
	right: 18px;
	top: 50%;
	margin-top: -9px;
	padding: 0;

}
.menu_item {
	display: inline-block;
	
}
.menu {
	text-align: justify;
	margin-top: 0;

}
 .menu::after {
		content "";
		display: inline-block;
		width: 100%;
		height: 0;
	}	

.menu_link {
	display: block;
	padding: 10px;

}
.menu_link_iconed {
	padding-right: 20px;
	padding-left: 50px;
	padding-top: 7px;
	padding-bottom: 7px;
	position: relative;
	border: 2px solid rgb( 255 177 110);
	border-radius: 50px;
}
.menu_link_text {
	color: white;
	font-size:13px;
}
.menu_link_icon {
	position: absolute;
	left:13px;
	top: 0;
	bottom: 0;
	width: 38px;
}
.menu_link_icon_pic {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	display: block;
	max-width: 100%;
	max-height: 100%;

}
.header_top {
	padding: 20px;
	padding-bottom: 15px;
	border-bottom: 1px solid #ffffff20
}
.nav_list {

	text-align: justify;

}
.nav_list:after {
	content: "";
	width: 100%;
	height: 0%;
	display: inline-block;
}

.nav_item {
	display: inline-block;
}


.nav_icon, .nav_title {
	display: inline-block;
	vertical-align: middle;
	}
.nav_title:hover {
	color: red;
}

.nav_title {
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;

}
 /*-------breadcrumbs-------*/

 .breadcrumbs_item {
 	display: inline-block;
 	vertical-align: middle;
 	margin-left: 10px;
 }
 .breadcrumbs_item:first-child .breadcrumbs_link::before {
 	margin-left: 0;
  	display:none;
 		
 	}

 
 .breadcrumbs_link {
 	font-size: 11px;
 	vertical-align: middle;

 }



 .breadcrumbs_link:before {
 	content: "";
 	display: inline-block;
 	background: url(icons8-стрелка-вправо-в-круге-2-16.png) 0 0 no-repeat;
 	width: 17px;
 	height: 14px;
 	margin-right: 15px;
 	padding-top: 0;
 	vertical-align: middle;

 }
 .title {
 	font-size: 24px;
 	color: #2e2e2e;
 	margin-top: 0;
 	font-weight: normal;
 }

 /*------content-------*/
 .block_left {
	width: 25%;
	float: left;
	height: 100%;
	background: #fff;

}
.rastynut:before {

	content: "";
	display: block;

}
.rastynut:after {
	content: "";
 	display: table;
 	clear: both;
}

 .content_wrapper .container {
 	background: #fff;

 }
 .content_wrapper .container:before {
 	content: "";
 	display: table;
 }
 .content_wrapper .container:after {
 	content: "";
 	display: table;
 	clear: both;
 }
 .seidebar {
 	float: left;
 	width: 25%;
 	
 }
 .content {
 	float: left;
 	width: 75%;
 	border-left: 1px solid #e7e7e7;
 	background: #fff;
 }
 .products_item:before {
 	content: "";
 	display: table;
 }
 .products_item:after {
 	content: "";
 	display: table;
 	clear: both;
 }
 .products_item {
 	position: relative;
 	border-bottom: 1px solid #e7e7e7;
 }
 .products_slideshow {
 	float: left;
 	width: 30%;
 	padding: 25px;
 }
 .slidesow {
	height: 235px;
	position:relative;
}
.products_display_icon {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	max-height: 95%;
	max-width: 95%;
}

 .products_desc {
 	float: left;
 	width: 45%;
 	padding: 40px 25px;

 }
.products_desc:before {
	content: "";
	display: block;
	top: 0;
	left: 250px;
	bottom: 0;
	position: absolute;
	width: 1px;
	background: #e7e7e7;
}

.products_price {
	float: left;
	width: 25%;
}
.slideshow_thumbus:before {
 	content: "";
 	display: table;
 }
 .slideshow_thumbus:after {
 	content: "";
 	display: table;
 	clear: both;
 }
 .slideshow_thumbus_item {
 	width: 25%;
 	float: left;
 }
 .slideshow_thumbus_link {
 	display: block;
 	height: 54px;
 	position: relative;

 }
.slideshow_thumbus_link img {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	max-height: 100%;
	max-width: 100%;
	margin: auto;

}
.products_title {
	margin-top:0;
	font-weight: normal;
	margin-bottom: 25px;
}


.products_desc_content {
	font-size: 14px;
	color:#676767;
}
.products_desc_content li {
margin-bottom: : 10px;
}
.products_price {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0px;
	width: 25%;
	padding: 20px;
}
.products_price_inner {
	border: 1px solid #e7e7e7;
	height: 100%;
	position: relative;
	padding: 20px;
}
.products_buy {
	position: absolute;
	bottom: 0;
	left: 20px;
	display: block;
	padding: 10px 40px;
	background: #ff8e2f;
	color: #fff;
	border-radius: 50px;
}
/*-------categories---------*/

.categories_item {
	border-bottom: 1px solid #e7e7e7;
	position: relative;
}
.categories_link {
	display: block;
	padding: 10px 20px;
	padding-right: 50px;
}
.categories_text {
	vertical-align: middle;
	display: inline-block;
	padding-left: 20px;
	width: 90%;
}
.categories_amount {
	position: absolute;
	font-size: 14px;
	line-height: 16px;
	top: 50%;
	margin-top: -8px;
	right: -90px;

}
.pogination {
	text-align: center;

}
.pogination .container {
	background: #fff;
	padding: 30px 0;
}
.position_control, .position_list {
	display: inline-block;
	vertical-align: middle;
}
.pogination_item {
	display: inline-block;
	vertical-align: middle;

}
.pagination_contol {
	width: 11px;
	height: 18px;
}
.pogination_list {
	margin: 0 26px;
}
.pogination_link {
	width: 40px;
	text-align: center;
	display: block;
}
.pogination_link:hover {
	color: red;

}
.footer .container {
padding-top: 15px;
text-align: center;
}
.main_wraper{
	padding-left: 10%;
	padding-right: 10%;
}